body {
  margin: 0px;
}

header {
  background-color: rgb(0, 204, 255);
  background-image: url("../img/pattern.png");
  height: 180px;
}

article {
  margin-left: 10px;
  margin-right: 5px; 
}

figure {
  margin: 0px;
}

#logo-booleaner {
  height: 100px;
  margin-top: 65px;
  margin-left: 10px;
}