body {
  margin: 0px;
  font-family: 'Times New Roman', Times, serif;
  font-size: 28px;
}

header {
  background-color: rgb(0, 166, 255);
  background-image: url("../img/pattern.png");
  height: 180px;
}

main {
  margin: 0px 10px; 
}

h1 {
  font-size: 80px;
  margin: 35px 0px 0px;
}

div {
  color: grey;
  font-size: 40px;
}

div footer {
  font-size: 60%;
}

figure, p {
  margin: 45px 0px;
}

figcaption {
  font-size: 70%;
}

ul {
  margin: 45px 0px;
  padding: 0px 25px;
}

table {
  border-collapse: collapse;
  text-align: left;
}

thead{
  background-color: rgb(0, 157, 255);
}

h2 {
  font-size: 30px;
  color: grey;
}

a {
  font-size: 40px;
  background-color: yellow;
}

#logo-booleaner {
  height: 100px;
  margin-top: 65px;
  margin-left: 10px;
}

#tim-1 {
  width: 52%;
}

#tim-2 {
  width: 44.5%;
}

#large-column {
  width: 50%;
}

#monitor {
  background-image: url("../img/monitor.jpg");
}

#graph {
  background-image: url("../img/graph.jpg");
}

#body-footer {
  text-align: center;
  margin: 50px;
}

.highlight {
  background-color: yellow;
}

.blue-text {
  color:rgb(0, 166, 255);
}

.bg-azure {
  background-color: rgb(162, 219, 254);
}

.aside-img {
  width: 350px;
  height: 225px;
  background-repeat: no-repeat;
  background-size: contain;
  margin-bottom: 20px;
}

.white-text {
  color: white;
}